* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 221, 226);
}
.container_form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 45px;
}
.colorForm {
  width: 250px;
}

.titleColor {
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
}
.label {
  display: flex;
  font-size: 20px;
}
.textColor {
  padding: 0 5px 5px 5px;
}
.resultColor {
  width: 50px;
  height: 50px;
  margin: 10px 0;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid grey;
}
.results {
  width: 200px;
  display: flex;
  flex-direction: column;
}
.pink {
  background-color: rgb(245, 166, 179);
}
.blue {
  background-color: cyan;
}
.green {
  background-color: greenyellow;
}

.white {
  background-color: white;
}
.resetColors {
  display: block;
  width: 120px;
  height: 35px;
  background-color: violet;
  margin: 10px 0 10px 100px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  &:hover {
    transform: scale(1.1);
  }
}
